<div class="container-fluid d-flex flex-column align-items-center justify-content-center vh-100">
    <h1 class="text-center">Hey, Welcome to Friendify</h1>
    <p > where connecting with friends is easier than ever. <br> Join our vibrant community to discover new friendships, share experiences, <br> and stay connected with those who matter most. With intuitive features and a welcoming atmosphere, <br> Friendify is your go-to destination for building meaningful connections online. Sign up today and start exploring <br> the world of friendship!</p>
    <button (click)="register()" class="btn btn-dark">Sign up</button>
</div>



